.esphome
esphome/.gitignore
secrets.yaml

# KiCad files to ignore
\#auto_saved_files#
*.kicad_prl
*-cache*
*-backups
*~*
*.bak
*.dcm
*.lib
*.mod
*.net
*.rpt
*.gbr
*.cmp
*.log
*.boms
*.pos
*.emn
*.gko
*.gpb
*.gml
*.gbrjob
*.gerbers
*.pdf
